@font-face {
  font-family: 'chewy';
  src: url('fontes/Chewy.ttf');
  src: url('fontes/Chewy.ttf?#iefix') format('embedded-opentype'),
    url('fontes/Chewy.ttf.svg#Locaweb-Icons') format('svg'),
    url('fontes/Chewy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{    
    position: relative;
    margin: 0px;
    height: auto;
    width: auto;
    padding: 20px;
}
@media(min-width: 900px){
    /* LOGIN*/
   .div_info{
        float: left;
        margin-top: 40px;
        margin-bottom: 40px;
        top: 50%;
        width: 50%;
        height: 400px;
    }
        #titulo{
            position: absolute;
            left: 50%;
            margin-left: -54px;
            margin-top: 20px;
            width: 108px;
        }
        #msg1{
            position: absolute;
            left: 50%;
            margin-left: -140px;
            margin-top: 80px;
            width: 280px;
            color: darkgray;
        }
        #login{
            position: absolute;
            left: 50%;
            margin-left: -150px;
            margin-top: 125px;
            width: 300px;
        }
        #senha{
            position: absolute;
            left: 50%;
            margin-left: -150px;
            margin-top: 175px;
            width: 300px;
        }
        #entrar{
            position: relative;
            left: 25%;
            margin-top: 220px;

        } 
        #registrar{
            position: absolute;
            left: 50%;
            margin-top: 220px;   
        }
        #msg2{
            position: absolute;
            left: 50%;
            margin-left: -57px;
            margin-top: 10px;
            width: 114px;
            font-size: 12px;
            color: darkgray;
        }    
        #msg3{
            position: absolute;
            background-color: white;
            z-index: 1;
            left: 50%;
            margin-top:45px;
            margin-left: -61px;
            width: 122px;
            height: auto;
            font-size: 12px;
            color: black;
            padding-left: 15px;
            padding-right: 15px;
        }
        #linha1{
            position: absolute;
            width: 300px;
            left: 50%;
            margin-left: -150px;
            margin-top: 54px;
        }
        #linha2{
            position: absolute;
            width: 300px;
            left: 50%;
            margin-left: -150px;
            margin-top: 110px;
        }
    /*MOSAICOS*/
    #mosaico1{
        position: relative;
        width: 30%;
        float: left;
        margin-top: 50px;
        top: 16%;
    }
    #cat{
        position: relative;
        left: 50%;
        margin-left: -125px;
    }
    #mosaico2{
        position: absolute;        
        width: 30%;
        clear: both;
        margin-top: 50px;
        right: 20px;
    }
    #dog{
        position: relative;
        left: 50%;
        margin-left: -125px;
    }
}
@media(max-width: 899px){
    .div_info_mobile{
        
    }
}
/*LOGOTIPO*/
#logo{
    position: relative;
    width: 100%;
    height: 170px;
    padding: 5px 5px;
}
.infopets{
    position: absolute;
    font-family: chewy;
    font-size: 100px;
    color: #474C51;
    top: 40px;
}
.patinha{
    position: relative;
    width: 85px;
    height: auto;
    left: 344px;
}
    /* LOGOTIPO MOBILE */
    @media(max-width: 900px){
        .infopets_mobile{
            font-size: 60px;
        }
        .patinha_mobile{
            width: 53px;
            left: 200px;
        }
    }
#msg4{
    clear: both;
    position: relative;
    background-color: white;
    width: 80%;
    left: 10%;
    margin-bottom: 40px;
    padding: 20px 15px;
    color: black;
    font-family: monospace;
    font-size: 16px;
    border: 2px solid black
}
.btnQR{
    position: relative;
    margin-bottom: 40px;
    left: 50%;
    margin-left: -100px;
}
#leiaMais{
    position: relative;
    color: #B1622F;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    height: 150px;
}
#triangle_icon{
    position: relative;
    width: 30px;
    height: auto;
    top: -51px;
    left: 50%;
    margin-left: 210px;
}
.tabela{
    position: relative;
    margin: 50px 0px;
}
#add{
    position: relative;
    left: calc(50% - 42px);
    margin: 10px 0;
}
#exclude{
    position: relative;
    left: calc(50% + 42px);
    margin: 0px 10px;
}
.footer{
    clear: both;
    position: relative;
    padding-left: 10px;
    font-family: inherit;
    font-size: 13px;        
    color: white;
    background-color: #707070;
}
a{
    display:inline-block;
    text-decoration:none;
    padding:6px 4px;
    border:1px solid #ccc;
    background-color:#f2f2f2;
    color:#333;
    font:15px arial, sans-serif;
}
a:hover{
    border-color:#aaa;
}